@media(min-width:320px) and (max-width:480px){
    .profile-card{
        max-width: 270px;
    }
}
@media(min-width:320px) and (max-width:480px){
    .image{
        width: 100px;
        height: 100px;
    }
}
@media(min-width:320px) and (max-width:480px){
    .profile-card::before{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        border-radius: 24px 24px 0 0;
        height: 27%;
        width: 80%;
        background-color: #000000;
    }
}